<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Iniciar Sesión</ion-title>
  </ion-toolbar>
</ion-header>
<br><br><br><br>
<ion-content [fullscreen]="true">
  <ion-img src="assets/icon/logo_duoc.png" alt="Logo Duoc"></ion-img>
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <form (ngSubmit)="iniciarSesion()">
          <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input [(ngModel)]="loginForm.email" type="email" name="email" required></ion-input>
          </ion-item>
          
          <ion-item>
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input [(ngModel)]="loginForm.password" type="password" name="password" required></ion-input>
          </ion-item>

          <ion-button type="submit" expand="full">Iniciar Sesión</ion-button>
        </form>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="ion-text-center">
        <p class="ion-no-margin">¿No tienes una cuenta?</p>
        <ion-button routerLink="/registro" fill="clear" color="primary">Regístrate aquí</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  
</ion-content>

